{% extends 'main.html' %}
{% load bootstrap %}
{% block tytul %} Powitanie {% endblock %}
{% block strona %}
<br/>
<main role="main" class="container">

    <h1 class="text-center" style="color:green">Witaj w aplikacji samochody :)</h1>
    <h2 class="text-center">Aplikacja zbudowana na bazie serwisu otomoto</h2>
    <br/>
    <h2> * można sprawdzić od kiedy dane ogłoszenie znajduje się na stronie</h2>
    <h2> * czy zmieniła się cena samochodu od czasu dodania ogłoszenia</h2>
    <h2> * dostępne marki: Audi (A3, A4, A5, A6), Honda, Hyundai, Toyota</h2>
    <h2> * baza danych dostępna za okres 05/05/2020 - 18/06/2021</h2>
    <br/>

    <div class="text-center">
        <a class="btn btn-primary" href="{% url 'wyszukiwanie' %}">Wyszukiwanie</a>
    </div>

</main>
{% endblock %}
