{% extends 'main.html' %}
{% load bootstrap %}
{% block tytul %} Powitanie {% endblock %}
{% block strona %}
<h1>Witaj w aplikacji samochody :)</h1>
<h2>Aplikacja zbudowana na bazie serwisu otomoto</h2>
<h2> * można sprawdzić od kiedy dane ogłoszenie znajduje się na stronie</h2>
<h2> * czy zmieniła się cena samochodu od czasu dodania ogłoszenia</h2>
<h2> * dostępne marki: Audi (A3, A4, A5, A6), Honda, Hyundai, Toyota</h2>
<h2> * baza aktualizowana raz w tygodniu</h2>
<br>
<a href="{% url 'wszystkie_samochody' %}">Lista wszystkich samochodów</a>
<br>
<a href="{% url 'wyszukiwanie' %}">Wyszukieanie</a>
{% endblock %}