{% extends 'main.html' %}
{% load bootstrap %}
{% block tytul %} Wyszukiwanie {% endblock %}
{% block strona %}
    <main role="main" class="container">
      <h3>Wyszukiwanie</h3>
      <form method="GET" action=".">
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="id_car" placeholder="ID samochodu" />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">

                    <select id="make" class="form-control" name="make">
                        <option selected>Wybierz markę</option>
                            {% for mark in make %}
                                <option value="{{ mark }}">{{ mark }}</option>
                            {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2 col-lg-2">
            <label for="dataMin">Rok produkcji od:</label>
            <input type="number" min=0 class="form-control" id="dataMin" placeholder="2006" name="year_min">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="dataMax">Rok produkcji do:</label>
            <input type="number" min=0 class="form-control" id="dataMax" placeholder="2020" name="year_max">
          </div>

          <div class="form-group col-md-2 col-lg-2">
            <label for="DateAdMin">Data dodania od:</label>
            <input type="date" class="form-control" id="DateAdMin" name="date_ad_min">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="DateAdMax">Data dodania do:</label>
            <input type="date" class="form-control" id="DateAdMax" name="date_ad_max">
          </div>
        </div>

       <div class="form-row">
          <div class="form-group col-md-2 col-lg-2">
            <label for="priceMin">Cena od:</label>
            <input type="number" min=0 class="form-control" id="priceMin" name="price_min">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="priceMax">Cena do:</label>
            <input type="number" min=0 class="form-control" id="priceMax" name="price_max">
          </div>
           <div class="form-group col-md-2 col-lg-2">
            <label for="newPrice">Zmieniona cena</label>
            <input type="number" min=0 class="form-control" id="newPrice" name="new_price">
          </div>
       </div>


       <button type="submit" class="btn btn-primary">Szukaj</button>

      </form>

        {% for car in allcar %}
        <a href="{% url 'dodatkowe_info' car.index %}">{{ car.id_car }} {{ car.model }} {{ car.production_year }} {{car.price}}</a>
        <br>
        {% endfor %}

    </main>
{% endblock %}