{% extends 'main.html' %}
{% load bootstrap %}
{% block tytul %} Wyszukiwanie {% endblock %}
{% block strona %}
    <main role="main" class="container">
      <h3>Wyszukiwanie</h3>
      <form method="GET" action=".">
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="id_car" placeholder="ID samochodu" />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">

                    <select id="make" class="form-control" name="make">
                        <option selected>Wybierz markę</option>
                            {% for mark in make %}
                                <option value="{{ mark }}">{{ mark }}</option>
                            {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2 col-lg-2">
            <label for="dataMin">Rok produkcji od:</label>
            <input type="number" min=0 class="form-control" id="dataMin" placeholder="2006" name="year_min">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="dataMax">Rok produkcji do:</label>
            <input type="number" min=0 class="form-control" id="dataMax" placeholder="2020" name="year_max">
          </div>

          <div class="form-group col-md-2 col-lg-2">
            <label for="DateAdMin">Data dodania od:</label>
            <input type="date" class="form-control" id="DateAdMin" name="date_ad_min">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="DateAdMax">Data dodania do:</label>
            <input type="date" class="form-control" id="DateAdMax" name="date_ad_max">
          </div>
        </div>
       <button type="submit" class="btn btn-primary">Szukaj</button>

      </form>

        {% for car in allcar %}
        <a href="{% url 'dodatkowe_info' car.index %}">{{ car.id_car }} {{ car.model }} {{ car.production_year }}</a>
        <br>
        {% endfor %}

    </main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock %}